@model UserStore.WebLayer.Models.PasswordModel
@{
    ViewBag.Title = "Личные данные - Изменение пароля";
}

<h3>Личные данные - Изменение пароля</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group form-group-sm">
            @Html.LabelFor(model => model.CurrentPassword, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.PasswordFor(model => model.CurrentPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group form-group-sm">
            @Html.LabelFor(model => model.NewPassword, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group form-group-sm">
            @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div>
            @Html.ActionLink("Назад на Главную", "Index", new { controller = "Home" }, new { @class = "btn btn-primary btn-sm" })
            <input type="submit" value="Сохранить" class="btn btn-primary btn-sm" />
        </div>
    </div>
}
