@model PagedList.IPagedList<UserStore.WebLayer.Models.DetailedUserProfileModel>
@using PagedList.Mvc;
@using UserStore.BusinessLayer.Services

@{
    ViewBag.Title = "Пользователи";
}

<h3>Пользователи</h3>

<hr />

@using (Html.BeginForm("Index", "Profile", FormMethod.Get))
{
    <div class="input-group col-sm-3">
        <div class="input-group input-group-sm">
            @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Введите имя..." })
            <div class="input-group-btn">
                <button type="submit" class="btn btn-info">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
}

<br />

<table class="table table-hover table-condensed table-bordered table-striped">
    <tr>
        <th class="text-center">
            @Html.ActionLink("№", "Index", new { sortOrder = ViewBag.IdSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th class="text-center">
            @Html.ActionLink("Имя", "Index", new { sortOrder = ViewBag.NameSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th class="text-center">
            Email
        </th>
        <th class="text-center">
            Телефон
        </th>
        <th class="text-center">
            @Html.ActionLink("Наименование отдела", "Index", new { sortOrder = ViewBag.DepartmentSortParam })
        </th>
        <th class="text-center">
            Действия
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.UserProfile.Id)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.UserProfile.Name)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.UserProfile.Email)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.UserProfile.Phone)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td class="text-center">
                @Html.ActionLink("Детали", "Details", new { id = item.UserProfile.Id })
                |
                @Html.ActionLink("Редактировать", "Edit", new { id = item.UserProfile.Id })
                |
                @Html.ActionLink("Удалить", "Delete", new { id = item.UserProfile.Id })
            </td>
        </tr>
    }
</table>

@Html.PagedListPager(Model, page => Url.Action("Index", 
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), 
    new PagedListRenderOptions { UlElementClasses = new List<string> { "pagination", "pagination-sm" } })

@Html.ActionLink("Добавить нового пользователя", "Create", new { controller = "Profile" }, new { @class = "btn btn-primary btn-sm" })
